.cart-card-container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  column-gap: 9rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.card-product-container {
  display: flex;
  flex-flow: column;
  row-gap: 1.5rem;
}
.cart-card-img-container {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-card {
  display: flex;
  border: 1px solid var(--light-gray);
  max-width: 480px;
  padding: 1rem;
}
.cart-card-img {
  width: 80%;
}
.btn-quantity-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin: 0.5rem 0;
}
.btn-quantity {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
}
.cart-card-content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 0.75rem;
  align-items: stretch;
  width: 80%;
}
/* checkout card */
.checkout-card {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid var(--light-gray);
  row-gap: 1rem;
  max-width: 520px;
  padding: 1rem;
}
.cart-price-container {
  display: flex;
  justify-content: space-between;
}
